# VS Code
.vscode
__debug_bin

# IntelliJ
.idea

# privateer misc ('privateer' is Linux exe)
privateer_output
privateer
privateer.exe
privateer-darwin
raids

# Test
coverage.out

# Hugo
site/node_modules
site/public
