# VS Code
.vscode
__debug_bin

# IntelliJ
.idea

# privateer
privateer_output
privateer
privateer.exe
privateer-darwin
bin
config*

# Test
coverage.out
test_config.yml
test_plugins/
!test/data/config.yml

# OS
.DS_Store
dist/

test_output

**/generated-plugin

!.github/ISSUE_TEMPLATE/config.yml

evaluation_results

# AI
.claude/
